body
{
    margin: 295px;
    padding: 50;
    background: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul
{
    position: absolute;
    width: 450px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.1);
    box-shadow: insert 0 0 15px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
}
ul li
{
    display: flex;
    background: rgba(255,255,255,.1);
    padding: 10px 20px;
    color: black;
    margin: 5px 0;
    transition: 5s;
}
ul li:nth-child(1)
{
    background: rgb(225,225,225,.3); 
}
ul li:nth-child(2)
{
    background: rgba(255,225,255,.2);
}
ul li:nth-child(3)
{
    background: rgba(255,225,225,.2);
}
ul li span:nth-child(1)
{
    width: 30px;
}
ul li span:nth-child(2)
{
    width: 200px;
}
ul li span:nth-child(3)
{
    width: 100px;
    text-align-last: right;
}
ul li span:nth-child(4)
{
    width:70px;
    text-align: right;
}
ul li:hover
{
    transform: scale(1.06);
    background: red;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background: red;
    padding: 20px 0px;
}
.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-social-icons ul{
    margin: 255px;
    height: auto;
    padding: auto;
    text-align: center;
}
body
{
    padding: 0;
    margin: 0;
    background-image: url();

}
h1
{
font-size: 5em;
margin:0;
padding: 0;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}